.block-center {
    width: 50%;
    margin: auto;
}

.text-center {
    justify-content: center;
    display: flex;
}

.todo-list {
    display: inline-block;
    width: 50%;
}

.hello-msg {
    display: inline-block;
    margin-left: 1em;
}